# 🔹 Customized & Branded by: Rajbots
# 🔗 Project: https://github.com/rajfflive/RAJMUSICBOT/new/main
API_ID=
API_HASH=
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
STRING_SESSION=
SUPPORT_CHAT=
SUPPORT_CHANNEL=
START_IMG_URL=
PING_IMG_URL=
HELP_IMG_URL=

